body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

footer {
    display: none !important;
}

section#log_in > div, section#reg > div {
    width: 50%;
    min-height: 100vh;
}

section#log_in, section#reg {
    position: relative;
    display: flex;
    width: 100%;
}

div#form {
    position: relative;
    width: 100%;
}

div.bg_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a.back {
    color: #000000;
}

div#toback {
    width: fit-content;
    height: auto;
    padding: 15px;
    font-size: 30px;
}