body {
    font-family: 'Oswald', sans-serif !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

footer {
    display: none !important;
}

form {
    position: relative;
    overflow: hidden;
}

dl {
    width: 100%;
    position: relative;
}

dd {
    margin: 12px 0px 20px 0px;
}

dt {
    font-size: 14px;
    font-weight: lighter;
}

h2 {
    font-size: 35px;
    margin: 52px 0px;
}

input[type="text"], input[type="email"], textarea {
    width: 75%;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0px 0px 1px 0px;
    transition-property: border-bottom-color;
    transition-duration: 300ms;
    transition-timing-function: linear;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    padding: 0px;
    border-width: 0px 0px 2px 0px;
    border-color: #4856fd;
    outline: none;
    background: rgba(0, 0, 0, 0);
}

section#log_in > div, section#reg > div {
    width: 50%;
    min-height: 100vh;
}

section#log_in, section#reg {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.bg_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*position: fixed;*/
}

div#form {
    position: relative;
}

a.back {
    color: #000000;
}

a.to_reg {
    color: #4856fd;
    text-transform: lowercase;
    display: block;
    margin: 6% 0% 1% 56%;
}

div#toback {
    width: fit-content;
    height: auto;
    padding: 15px;
    font-size: 30px;
}

input[type="submit"], #next_page {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: bolder;
    color: #ffffff;
    background-color: #1a73e8;
    border: none;
    border-radius: 8%;
    margin: 10px 0px 0px 0px;
}

div.login {
    width: 60%;
    border-left: 2px solid;
    border-color: #000000;
    padding-left: 22px;
    margin: 25px 0px;
}

.date input[type="text"] {
    width: 20%;
    margin: 0px 39px 0px 0px;
}

.error {
    color: #fc0808;
    font-size: 12px;
    font-family: 'Oswald', sans-serif;
}

.edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.edit_save {
    text-align: end;
    margin-right: 60px;
    width: fit-content;
    cursor: pointer;
}

.pp {
    width: fit-content;
    margin: 0px auto;
    padding-bottom: 0px;
    text-align: center;
}

.pp img {
    width: 142px;
    height: 142px;
    border: none;
    border-radius: 100%;
}

span.user_name {
    display: block;
    margin: 8px 0px;
    font-size: 30px;
    font-weight: bolder;
}

#extended {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    transform: translateX(100%);
}

.show {
    transform: translateX(0%) !important;
}

.hide {
    transform: translateX(-100%) !important;
}

.go_back {
    color: #1a73e8;
    float: right;
    margin-right: 25%;
    cursor: pointer;
}