header {
    background-color: #0A413E;
}

.profile_menu {
    width: 70%;
    position: relative;
}

nav.navigation {
    width: 100%;
}

ul.pm_nav {
    padding: 0px;
    margin: 0px;
    width: inherit;
    display: flex;
}

.pm_nav li {
    text-align: center;
    margin: 0px 12px;
    padding: 16px 0px;
}

.pm_nav li a {
    color: #F2AB01;
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.logo_offset {
    width: 4%;
    height: 76px;
    margin: 16px;
}

.logo_offset img {
    width: 100%;
    height: 100%;
}