header {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
}

.section_wrapper {
    width: 90%;
}

.top_gap {
    padding-top: 36px;
}

.bottom_gap {
    padding-bottom: 36px;
}

#logo img {
    width: 86px;
}

nav.valign {
    float: left;
    left: 3%;
    transform: translate(0%, -50%);
}

section#public_landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transform: translateY(-16px);
}

.wrapper.container {
    height: 100vh;
    width: 81%;
}

.landing_bg {
    height: inherit;
}

ul.cliper {
    margin: 0px;
    padding: 0px;
    height: inherit;
    display: flex;
}

li.board {
    height: inherit;
    width: 25%;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    float: left;
}

ul.cliper :last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.moto {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    overflow: hidden;
    display: flex;
    transform: translate(-50%, -43%);
}

.land_img, .moto_content {
    width: 50%;
    position: relative;
}

.land_img img {
    width: 95%;
    transform: scale3d(0.95, 0.95, 0.95);
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.land_img img:hover {
    transform: scale3d(1, 1, 1);
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.public_header {
    width: fit-content;
    transform: translate(-50%, -62%);
}

.public_header div h1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: -8px 0 #ffffff, 0 8px #ffffff, 8px 0 #ffffff, 0 -8px #ffffff;
    font-size: 162px;
    margin: 0px;
}

.public_sub_header h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    /*text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;*/
    margin: 0px;
    line-height: 36px;
}

.public_sub_header h2:hover {
    color: #000000;
}

.public_header div h1:hover {
    color: #5f5b5b;
}

.public_sub_header {
    position: absolute;
    bottom: 0;
    /*left: 41%;*/
    width: 100%;
    height: fit-content;
    z-index: -1;
    font-family: 'Hind Siliguri', sans-serif;
}

section.services {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section.services div ul {
    margin: 0px;
    padding: 0px;
    display: flex;
}

li.serv_card {
    width: 100%;
    padding: 16px 0px;
    margin: 0px 16px;
    min-height: 60vh;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
}

li.serv_card_header {
    width: 20%;
    text-align: left;
    font-size: 2.5rem;
}

li.serv_card_inner, li.serv_card_content {
    padding: 0px 24px;
    margin: 12px;
}

li.serv_card_content {
    width: 80%;
    text-align: left;
}

.serv_card_inner {
    min-width: 58%;
}

.serv_card_content p {
    text-align: justify;
}

li.serv_card_img {
    margin: 12px 32px;
    width: 60px;
    height: 60px;
}

.serv_card_img img {
    width: 100%;
}

section.about {
    position: relative;
    height: 60vh;
    width: 100%;
}

ul.about_wrapper {
    display: flex;
    height: inherit;
    padding: 0px;
    margin: 0px;
}

li.about_sections {
    width: 33.33%;
}

section.comp_status {
    position: relative;
    width: 100%;
    height: 65vh;
}

ul.status_list {
    padding: 0px;
    margin: 0px;
    display: flex;
}

li.stat {
    width: 20%;
}

section.tiny_store {
    position: relative;
    width: 100%;
    height: 75vh;
}

ul.tiny_store_wrapper {
    padding: 0px;
    margin: 0px;
}

ul.tiny_rack_list {
    padding: 0px;
    margin: 0px;
    display: flex;
}

li.tiny_product {
    width: 12.5%;
    height: fit-content;
    margin: 0px 12px;
}

li.tiny_rack {
    padding: 24px 0px;
}

section.testimonial {
    width: 100%;
    height: 65vh;
    position: relative;
}

.test_wrapper {
    height: fit-content;
}

ul.review {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

section.events_gal.bottom_gap {
    position: relative;
    width: 100%;
    height: 50vh;
}

ul.event_gal_list {
    display: flex;
}

li.public_events {
    width: 25%;
    height: fit-content;
}

section.queries.bottom_gap {
    position: relative;
    width: 100%;
    height: 65vh;
}

section.landing_bg {
    height: 65vh;
    width: 100%;
    position: relative;
}

.event_land_img {
    width: inherit;
    height: inherit;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

ul.landing_header {
    left: 9%;
}

