header {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Oswald', sans-serif;
}

.section_wrapper {
    width: 90%;
}

.top_gap {
    padding-top: 36px;
}

.bottom_gap {
    padding-bottom: 36px;
}

#logo img {
    width: 86px;
}

nav.valign {
    float: left;
    left: 3%;
    transform: translate(0%, -50%);
}

section#public_landing {
    position: relative;
    width: 100%;
    min-height: 100vh;
    transform: translateY(-16px);
}

.wrapper.container {
    height: 100vh;
    width: 81%;
}

.landing_bg {
    height: inherit;
}

ul.cliper {
    margin: 0px;
    padding: 0px;
    height: inherit;
    display: flex;
}

li.board {
    height: inherit;
    width: 25%;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
    float: left;
}

ul.cliper :last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.07);
}

.moto {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    width: 100%;
    overflow: hidden;
    display: flex;
    transform: translate(-50%, -43%);
}

.land_img, .moto_content {
    width: 50%;
    position: relative;
}

.land_img img {
    width: 95%;
    transform: scale3d(0.95, 0.95, 0.95);
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.land_img img:hover {
    transform: scale3d(1, 1, 1);
    transition-duration: 100ms;
    transition-timing-function: linear;
}

.public_header {
    width: fit-content;
    transform: translate(-50%, -62%);
}

.public_header div h1 {
    font-family: 'Oswald', sans-serif;
    text-shadow: -8px 0 #ffffff, 0 8px #ffffff, 8px 0 #ffffff, 0 -8px #ffffff;
    font-size: 162px;
    margin: 0px;
}

.public_sub_header h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    /*text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;*/
    margin: 0px;
    line-height: 36px;
}

.public_sub_header h2:hover {
    color: #000000;
}

.public_header div h1:hover {
    color: #5f5b5b;
}

.public_sub_header {
    position: absolute;
    bottom: 0;
    /*left: 41%;*/
    width: 100%;
    height: fit-content;
    z-index: -1;
    font-family: 'Hind Siliguri', sans-serif;
}

.serv_card_header {
    text-align: center;
    font-size: 46px;
    padding: 32px 0;
}

.serv_card_inner {
    height: fit-content;
}

.serv-cover {
    display: flex;
    justify-content: center;
    padding-top: 56px;
}

.cow-img {
    width: 56%;
    float: left;
}

.serv_card_content {
    width: 30%;
    float: left;
}

.serv_card_content h4 {
    font-size: 23px;
    font-weight: lighter;
    padding: 0 52px;
    color: #91BB57;
}

.serv_card_content p {
    text-align: justify;
    padding: 0 52px;
    color: #00000096;
}

.services-list {
    position: relative;
    width: 45%;
}

.service-img {
    margin: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-gallery {
    height: fit-content;
    padding-top: 56px;
}

section.comp_status {
    position: relative;
    width: 100%;
    height: 75vh;
    background-color: #E9F1EE;
}

ul.status_list {
    padding: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.top_layer ul {
    position: absolute;
    top: 78%;
    left: 5%;
    color: #fff;
    font-size: 19px;
}

.stat_year h3 {
    font-size: 3.5rem;
    font-weight: lighter;
}

li.stat {
    position: relative;
    width: 20%;
    height: 308px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li.top_layer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(10, 65, 62, 0.27);
}

section.tiny_store {
    position: relative;
    width: 100%;
    height: 75vh;
}

ul.tiny_store_wrapper {
    padding: 0px;
    margin: 0px;
}

ul.tiny_rack_list {
    padding: 0px;
    margin: 0px;
    display: flex;
}

li.tiny_product {
    width: 12.5%;
    height: fit-content;
    margin: 0px 12px;
}

li.tiny_rack {
    padding: 24px 0px;
}

section.testimonial {
    width: 100%;
    height: 65vh;
    position: relative;
}

.test_wrapper {
    height: fit-content;
}

ul.review {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

section.events_gal.bottom_gap {
    position: relative;
    width: 100%;
    height: fit-content;
}

ul.event_gal_list {
    display: flex;
}

li.public_events {
    position: relative;
    width: 25%;
    height: 30vh;
}

section.queries.bottom_gap {
    position: relative;
    width: 100%;
    height: fit-content;
}

section.landing_bg {
    height: 65vh;
    width: 100%;
    position: relative;
}

.event_land_img {
    width: inherit;
    height: inherit;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.event {
    position: relative;
}

.event::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 62%);
}

.event-link {
    position: absolute;
    color: #ffffff;
    font-weight: 100;
    font-size: 20px;
    top: 80%;
    left: 8%;
}

ul.landing_header {
    left: 5%;
    top: 25%;
    transform: unset !important;
}

/*public pages*/
.event_land_img {
    position: relative;
}

.event_land_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 68, 3, 0.25);
}

.landing_header .header_content h1 {
    font-size: 5rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: left;
}

.landing_header .header_content h2 {
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #ffffff;
    font-weight: 100;
    text-align: left;
}

.landing_header .header_content p {
    color: #ffffff;
    text-align: left;
}

.contact_wrapper, .about_wrapper {
    width: 81%;
    margin: 0 auto;
}

.about_wrapper {
    display: flex;
}

ul.contact_content_wrapper {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

li.contact_content {
    width: 32%;
}

ul.about_content_wrapper {
    width: 50%;
    text-align: justify;
}

.org-logo {
    width: 50%;
    text-align: center;
}

.org-logo img {
    width: 50vh;
    height: 50vh;
    margin: 0 0 0 64px;
}


.event_gal_cards {
    display: flex;
    flex-wrap: wrap;
}

.event_gal_col {
    position: relative;
    float: left;
    width: 33.33%;
    height: 42vh;
    padding: 0px 18px;
    box-sizing: border-box;
}

.event_gal_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

i.fas.fa-map-marker-alt {
    margin-right: 6px;
}

.prod_link {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 36px;
}

.prod_link a {
    padding: 18px 32px;
}

.event_body {
    width: 50%;
    margin: 0 auto;
    padding: 36px;
}

.topic h3 {
    font-weight: normal;
    font-size: 20px;
    /*text-decoration: underline;*/
    text-transform: capitalize;
}

.topic p {
    color: #707070;
}

@media screen and (min-width: 1440px) {
    section.comp_status {
        height: 92vh;
    }

    ul.prod_port > li {
        height: 378px;
    }

    .blog_card {
        height: 92vh;
    }
}

@media screen and (min-width: 1200px) {
    section.comp_status {
        height: 92vh;
    }

    ul.prod_port > li {
        height: 378px;
    }

    .blog_card {
        height: 92vh;
    }
}

@media screen and (min-width: 900px) {
    section.comp_status {
        height: 92vh;
    }

    ul.prod_port > li {
        height: 378px;
    }

    .blog_card {
        height: 92vh;
    }
}